# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/node_modules

# next.js
/.next/
/frontend/.next/
/out/
/frontend/out/

# production
/build
/frontend/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
/frontend/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
/frontend/*.tsbuildinfo
next-env.d.ts
/frontend/next-env.d.ts
